@model Samaritans.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h2 style="text-align: center">Choose a service to log in with</h2>
<p> </p>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    IEnumerable<AuthenticationDescription> providers = loginProviders.ToList();

    var google = providers.FirstOrDefault(o => o.AuthenticationType == "Google");
    var facebook = providers.FirstOrDefault(o => o.AuthenticationType == "Facebook");

    using (Html.BeginForm("ExternalLogin", "Account", new { Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div class="row" id="socialLoginList">
            @if (google != null)
            {
                <button type="submit" class="btn-sq-lg oauth oauth-google" id="@google.AuthenticationType" name="provider" value="@google.AuthenticationType">
                    <i class="fa fa-google"></i>
                    <br />
                    Google
                </button>
            }

            @if (facebook != null)
            {
                <button type="submit" class="btn-sq-lg oauth oauth-facebook" id="@facebook.AuthenticationType" name="provider" value="@facebook.AuthenticationType">
                    <i class="fa fa-facebook"></i>
                    <br/>
                    Facebook
                </button>
            }

            @if (google != null)
            {
                <button type="submit" class="btn-sq-lg oauth oauth-linkedin" id="@google.AuthenticationType" name="provider" value="@google.AuthenticationType">
                    <i class="fa fa-linkedin"></i>
                    <br />
                    Linkedin
                </button>
            }

            @if (google != null)
            {
                <button type="submit" class="btn-sq-lg oauth oauth-twitter" id="@google.AuthenticationType" name="provider" value="@google.AuthenticationType">
                    <i class="fa fa-twitter"></i>
                    <br />
                    Twitter
                </button>
            }
        </div>
    }
}
