@model Samaritans.Models.Event.EventViewModel
@{
    ViewBag.Title = Model.Name;
}

<article class="event @(Model.Obsolete ? "obsolete" : "") @(Model.CapacityWarning ? "warn" : "")">
	@if (Model.IsHosting || Model.IsAttending)
    {

		<h2 class="@(Model.IsHosting ? "hosting" : "attending")" > <i class="fa fa-check greenIcon"></i> @Model.Name</h2>
		<p class="attenderStatus">(@Model.AttendanceDisplay)</p>

    }
    else
    {
		<h2><i class="fa fa-times redIcon"></i>@Model.Name</h2>
    }
	<div class="organizer">
		<span>@Model.OrganizerName</span>
	</div>
	<div> @Model.TimeDisplay</div>
	<div class="">@Model.Attendance</div>
	<p>@Model.Purpose</p>

	@if (Model.IsHosting && !Model.Done)
    {
        using (Html.BeginForm("Cancel", "Event", new { id = Model.Id }, FormMethod.Post, new { onsubmit = "return confirm('Are you sure you want to cancel this event?')" }))
        {
            <input class="btn btn-danger" type="submit" value="Cancel" />
        }
    }
    else if (!Model.IsAttending && !Model.Obsolete)
    {
        using (Html.BeginForm("Join", "Event", new { id = Model.Id }, FormMethod.Post))
        {
            <input class="btn btn-success" type="submit" value="Join" />
        }
    }
</article>
