@model EventListModel

<tr onclick="location.href = '@(Url.Action("Details", "Event", new { id = Model.Id }))'" class="@(Model.IsOrganizing ? "organizing" : "")">
    <td>
        @Html.DisplayFor(x => x.Name)
    </td>
    <td>
        @Html.DisplayFor(x => x.Purpose)
    </td>
    <td>
        @Html.DisplayFor(x => x.EventDateDisplay)
    </td>
    <td>
        @Html.DisplayFor(x => x.MinAttendance) Attendees
    </td>
    <td>
        @Html.DisplayFor(x => x.MaxAttendance) Attendees
    </td>
    <td>
        @Html.DisplayFor(x => x.DistanceFromUser) mi.
    </td>
    <td>
        @Html.ActionLink("Details", "Details", "Event", new { Model.Id }, new { })
    </td>
</tr>
